header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    padding: 10px;
}

#highscores-link {
    color: blue;
    text-decoration: none;
}

#time {
    font-size: 20px;
    font-weight: bold;
}

main {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

form {
    margin: 20px 0;
}

label {
    display: block;
}

h3 {
    color: rgb(66, 156, 230);
}